body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}
